Repository atoma-network/atoma-node, pull requests merged in 2025-03, with the labels that each got.

#460 feat: expose 4001 tcp port on docker
  docker-compose.yaml
Labels: p2p

#464 chore: updated logging to be console favourable
  .gitignore
  atoma-daemon/src/telemetry.rs
  atoma-p2p-tester/docker-compose.yml
  atoma-p2p-tester/src/main.rs
  atoma-p2p/src/service.rs
Labels: atoma-daemon, deployment, p2p

#476 feat: remove task small id from rotate public keys
  atoma-confidential/src/service.rs
  atoma-state/src/handlers.rs
  atoma-state/src/migrations/20250305222828_update-node_public_key_rotations_table.sql
  atoma-state/src/state_manager.rs
  atoma-sui/src/client.rs
  atoma-sui/src/events.rs
Labels: confidential-compute

#482 feat: improve confidential compute logging
  atoma-confidential/src/service.rs
Labels: enhancement, confidential-compute

#468 feat: add `proxy` bootstrap nodes
  .gitignore
  atoma-p2p/src/config.rs
  atoma-p2p/src/errors.rs
  atoma-p2p/src/service.rs
  atoma-p2p/src/utils.rs
  config.example.toml
  deny.toml
  docker-compose.yaml
Labels: p2p

#484 feat: address parsing of key rotation counter and nonce in `get_last_key_rotation_event`
  Cargo.lock
  atoma-sui/src/client.rs
Labels: sui

#487 chore: update log levels on p2p
  atoma-p2p/src/service.rs
Labels: p2p, observability

#496 chore: add configurable logs for docker containers
  docker-compose.yaml
Labels: atoma-daemon, deployment, observability

#504 chore: add atoma log levels flags
  .env.example
  Dockerfile
  README.md
  atoma-p2p-tester/Dockerfile
  atoma-p2p-tester/docker-compose.yml
  docker-compose.yaml
Labels: observability

#503 feat: automatize the process of claiming stacks for confidential compute tasks
  Cargo.lock
  Cargo.toml
  atoma-bin/atoma_node.rs
  atoma-service/Cargo.toml
  atoma-service/src/handlers/chat_completions.rs
  atoma-service/src/handlers/embeddings.rs
  atoma-service/src/handlers/image_generations.rs
  atoma-service/src/handlers/mod.rs
  atoma-service/src/middleware.rs
  atoma-service/src/server.rs
  atoma-service/src/streamer.rs
  atoma-service/src/tests.rs
  atoma-state/Cargo.toml
  atoma-state/src/handlers.rs
  atoma-state/src/migrations/20250324095038_stacks-is-claimed.sql
  atoma-state/src/state_manager.rs
  atoma-state/src/types.rs
Labels: atoma-service, confidential-compute

#532 chore: add more connection libp2p logs
  atoma-p2p/src/service.rs
Labels: p2p, observability

#531 ci: add Sui related security alerts to audit ignore
  .github/workflows/audit.yml
Labels: dependencies
