Repository atoma-network/atoma-node, pull requests merged in 2025-02, with the labels that each got.

#286 feat: logic for atoma p2p for gossip nodes public urls
  Cargo.lock
  Cargo.toml
  atoma-bin/atoma_node.rs
  atoma-p2p/Cargo.toml
  atoma-p2p/src/config.rs
  atoma-p2p/src/lib.rs
  atoma-p2p/src/service.rs
  atoma-p2p/src/timer.rs
  atoma-p2p/src/types.rs
  atoma-service/Cargo.toml
  atoma-service/src/handlers/prometheus.rs
  atoma-service/src/lib.rs
  atoma-service/src/proxy/config.rs
  atoma-service/src/proxy/mod.rs
  atoma-service/src/tests.rs
  atoma-state/Cargo.toml
  atoma-state/src/handlers.rs
  atoma-state/src/migrations/20250204194732_add_node_usage_table.sql
  atoma-state/src/state_manager.rs
  atoma-state/src/types.rs
  atoma-sui/src/events.rs
  config.example.toml
Labels: enhancement, atoma-service, p2p

#393 build: add observability configs
  docker-compose.yaml
  loki.yaml
  otel-collector-config.yaml
  prometheus.yml
  tempo.yaml
Labels: metrics

#395 feat: add proper metadata about the node for p2p communication
  Cargo.lock
  Cargo.toml
  atoma-p2p/Cargo.toml
  atoma-p2p/src/timer.rs
Labels: p2p, metrics

#398 feat: add more detailed node metrics for p2p broadcasting
  Cargo.lock
  Cargo.toml
  atoma-p2p/Cargo.toml
  atoma-p2p/src/lib.rs
  atoma-p2p/src/metrics.rs
  atoma-p2p/src/service.rs
  atoma-p2p/src/timer.rs
  atoma-p2p/src/types.rs
  atoma-state/src/handlers.rs
Labels: atoma-state, p2p, metrics

#406 refactor: implement custom deserialization for signed messages
  atoma-p2p/src/metrics.rs
  atoma-p2p/src/service.rs
  atoma-p2p/src/types.rs
Labels: optimizations, p2p

#407 feat: improve logic for compute units calculation
  atoma-service/src/handlers/chat_completions.rs
  atoma-service/src/handlers/embeddings.rs
  atoma-service/src/handlers/image_generations.rs
  atoma-service/src/handlers/mod.rs
  atoma-service/src/handlers/request_model.rs
  atoma-service/src/middleware.rs
Labels: enhancement, atoma-service

#408 feat: update openai api, in accordance to the work done in the atoma proxy
  atoma-service/docs/openapi.yml
  atoma-service/src/handlers/chat_completions.rs
  atoma-service/src/types.rs
Labels: enhancement, atoma-service

#409 build: compose file fixes
  config.example.toml
  docker-compose.yaml
Labels: atoma-vllm, deployment

#412 build: allow for `linux/amd64` profiles on docker builds
  README.md
  docker-compose.yaml
Labels: deployment

#413 feat: explicitly expose atoma p2p service port
  .env.example
  docker-compose.yaml
Labels: deployment, p2p

#424 build: add dev compose config
  docker-compose.dev.yaml
Labels: deployment

#425 build: remove unnecessary volumes from dev compose
  docker-compose.dev.yaml
Labels: deployment

#426 build: add grafana root url for deployed instances
  .env.example
  docker-compose.dev.yaml
  docker-compose.yaml
Labels: deployment

#431 ci: migrate to ubuntu for builds
  Dockerfile
Labels: deployment

#430 build: add internal port for CI runs
  .env.example
  docker-compose.dev.yaml
Labels: deployment

#437 fix: update logging name
  atoma-bin/telemetry.rs
Labels: atoma-daemon, metrics

#435 feat: add initial metrics for p2p comms
  Cargo.lock
  Cargo.toml
  atoma-daemon/Cargo.toml
  atoma-p2p/Cargo.toml
  atoma-p2p/src/errors.rs
  atoma-p2p/src/lib.rs
  atoma-p2p/src/metrics.rs
  atoma-p2p/src/service.rs
  atoma-p2p/src/tests.rs
  atoma-p2p/src/timer.rs
  atoma-p2p/src/types.rs
  atoma-p2p/src/utils.rs
  atoma-service/Cargo.toml
  deny.toml
Labels: atoma-service, p2p, metrics

#445 fix: address issues with `loki` + more p2p logging
  atoma-bin/telemetry.rs
  atoma-p2p/src/service.rs
  otel-collector-config.yaml
  prometheus.yml
Labels: atoma-service, p2p

#446 feat: refactor atoma p2p to use Bytes instead of Vec<u8>
  Cargo.lock
  Cargo.toml
  atoma-p2p/Cargo.toml
  atoma-p2p/src/service.rs
  atoma-p2p/src/tests.rs
  atoma-p2p/src/types.rs
Labels: optimizations, p2p
